.myText {
  margin-bottom: 50px;
  text-align: start;
}

.eclipse {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #2e8cad;
  background-color: transparent;
  color: #2e8cad;

  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 900;
}
