.card {
  width: 300px;
  height: 300px;
  background-color: #fff;
  // margin-left: 50px;
  border-radius: 30px;
}

.heading {
  color: #2e8cad;
//   margin-top: 50;
  text-align: center;
  font-family: Mitr;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.buttons{
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #2EBAEB;
    background-color: #fff;
}

// .lastbutton{
//     width: 5px;
// }
